In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

### One Hot Encoding

In [4]:
 df=pd.read_csv('train.csv',usecols=['Embarked'])
df

    Embarked
0          S
1          C
2          S
3          S
4          S
..       ...
886        S
887        S
888        S
889        C
890        Q

[891 rows x 1 columns]

In [5]:
pd.get_dummies(df,drop_first=True).head()

   Embarked_Q  Embarked_S
0       False        True
1       False       False
2       False        True
3       False        True
4       False        True

In [6]:
df['Embarked'].unique()

array(['S', 'C', 'Q', nan], dtype=object)

In [7]:
df.dropna(inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 889 entries, 0 to 890
Data columns (total 1 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Embarked  889 non-null    object
dtypes: object(1)
memory usage: 13.9+ KB

In [9]:
pd.get_dummies(df,drop_first=True).head()

   Embarked_Q  Embarked_S
0       False        True
1       False       False
2       False        True
3       False        True
4       False        True

### How to perform onehot encoding in many category features

In [14]:
merc_df=pd.read_csv('mercedes.csv',usecols=['X0','X1','X2','X3','X4','X5','X6'])
merc_df.head()

   X0 X1  X2 X3 X4 X5 X6
0   k  v  at  a  d  u  j
1   k  t  av  e  d  y  l
2  az  w   n  c  d  x  j
3  az  t   n  f  d  x  l
4  az  v   n  f  d  h  d

In [22]:
for i in merc_df.columns:
    print(len(merc_df[i].unique()))

47
27
44
7
4
29
12

In [29]:
lst_10=merc_df.X1.value_counts().head(10).index
lst_10=list(lst_10)

In [30]:
lst_10

['aa', 's', 'b', 'l', 'v', 'r', 'i', 'a', 'c', 'o']

In [31]:
for categories in lst_10:
    merc_df[categories]=np.where(merc_df['X1']==categories,1,0)

In [33]:
lst_10.append('X1')

In [35]:
merc_df[lst_10]

TypeError: unhashable type: 'Series'